.form-window{
    margin-left: 160px;
    margin-top: 90px;
    position: relative;
    max-width: 400px;
    height:300px;
    width:100%;
    padding:20px;
    border:1px solid;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

.close-form{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
label{
    margin-bottom: 6px;
    font-weight: bold;

}

input, textarea{
    padding: 10px;
    margin-bottom: 10px;
}
output{
    color:red;
    margin-bottom: 5px;
}
output.info{
    color:green;
}

.fade-out{
    animation: fadeOut 2s forwards;
}


@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.warning {
    color: orange;
}
